#login_frame {
  border: 2px solid blue;
  margin-left: 20%;
  margin-right: 20%;
}

#user_name,
#password,
#rptpass {
  width: 200px;
  height: 20px;
}

#login_input {
  margin-left: 35%;
  margin-right: 40%;
}

#ex {
  /* align: center; */
  text-align: center;
}

#pass {
  width: 300px;
}

#make {
  align: center;
}